@charset "UTF-8";

@font-face {
    font-family: 'Intel';
    src: url('/fontes/intelone-display-medium.ttf');
}

@font-face {
    font-family: 'Eurostile';
    src: url('/fontes/Eurostile.ttf');
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(224, 224, 228);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 45, 230);
    color: #fff;
    
}

header img {
    width: 260px;
    height: 260px;
    padding: 20px 15px;
}

header h1 {
    font-family: 'Intel';
    font-size: 1.8rem;
    text-shadow: 3px 0px 4px rgba(0, 0, 0, 0.534);
    padding-left: 0px;
}

span {
    width: 300px;
    background-color: #fff;
    color: #192DE6;
    padding: 0px 5px;
    border-radius: 3px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.644);
}


main {
    min-width: 300px;
    max-width: 1800px;
    background-color: #fff;
    margin: auto;
    padding-top: 0;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.658);
    border-radius: 0px 0px 5px 5px;
}

main h1 {
    display: flex;
    font-family: 'eurostile-extended-bold', sans-serif;;
    text-align: center;
    width: 650px;
    margin: auto;
    font-size: 2rem;
    font-weight: bolder;
}

main section {
    display: flex;
    margin-top: 3rem;
}

main section .container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 350px;
    border: 1px solid black;
    border-radius: 5px;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    position: relative;
    margin-left: 50px;
}

h1 ul li p {
    text-align: center;
}

::marker {
    align-items: center;
}

footer {
    padding: 20px;
    background-color: rgb(25, 45, 230);
}